.yarn/

templates/angular/dist/
templates/angular/.angular/

templates/nextjs-ts/.next/
templates/nextjs-app-directory-ts/.next/

templates/no-framework-vite/dist/

templates/nuxt3-ts/.nuxt/
templates/nuxt3-ts/.output/
templates/nuxt3-ts/node_modules/

templates/react-docusaurus-ts/.docusaurus/
templates/react-docusaurus-ts/build/
templates/react-docusaurus-ts/node_modules/

templates/react-vite-ts/dist/

templates/solid-vite-ts/dist/

templates/vue-vite-ts/dist/

templates/svelte-vite-ts/dist/

templates/sveltekit-ts/.svelte-kit/
