---
import Layout from '../layouts/Layout.astro';
import AppIntroduction from '../react/components/ReactComponent';
---

<Layout>
	<div>
			<div>
				<h1 class="logo">@skyra/discord-components-core</h1>
				<span>
					[
					<a target="_blank" rel="noopener noreferrer" href="https://github.com/skyra-project/discord-components/">
						Github
					</a>
					]
				</span>
			</div>
		</div>
        <AppIntroduction />
</Layout>
